      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
          <a href="/">Tulsi</a>
        </span>
        <nav class="drawer-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <span class="drawer-nav-title">Documentation</span>
              <ul>
                <li><a href="/docs/gettingstarted.html">Getting Started</a></li>
                <li><a href="/docs/faq.html">FAQ</a></li>
                <li><a href="/docs/walkthrough.html">Walkthrough</a></li>
              </ul>
            </li>
            <li>
              <span class="drawer-nav-title">Community</span>
              <ul>
                <li><a href="/contributing.html">Contributing to Tulsi</a></li>
                <li><a href="/governance.html">Governance</a></li>
              </ul>
            </li>
            <li>
              <span class="drawer-nav-title">Get Support</span>
              <ul>
                <li><a href="https://groups.google.com/forum/#!forum/tulsi-discuss">User mailing list</a></li>
                <li><a href="https://github.com/bazelbuild/tulsi/issues">Issue tracker</a></li>
              </ul>
            </li>
            <li>
              <span class="drawer-nav-title">Get Involved</span>
              <ul>
                <li><a href="https://github.com/bazelbuild/tulsi">GitHub</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/tulsi-dev">Developer mailing list</a></li>
                <li><a href="https://bazel.googlesource.com/tulsi">Gerrit</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
