build --cpu=darwin_x86_64
build --apple_platform_type=macos
build --xcode_version=11.2.1

# Disable the Swift compilation worker when running integration tests, since it
# requires the protobuf dependency which is infeasible to get working on Bazel.
build --define=RULES_SWIFT_BUILD_DUMMY_WORKER=1
build --strategy=SwiftCompile=local

# Stop gap for https://github.com/bazelbuild/tulsi/issues/94.
# See also: https://github.com/bazelbuild/rules_apple/issues/456.
# by @woshimaliang: issues above have been fixed but this is a fork so...
# build "--host_force_python=PY2"

#invalid escape sequence: \d. You can enable unknown escape sequences by passing the flag --incompatible_restrict_string_escapes=false
build --incompatible_restrict_string_escapes=false
