# https://github.com/bazelbuild/stardoc/issues/112
common --incompatible_allow_tags_propagation

build --cpu=darwin_x86_64
build --apple_platform_type=macos

# This is required for re-invoking bazel in shell tests. CI adds it implicitly
test --test_env=HOME
