# AppCode files.
*/.idea/

# Xcode Proj
*.xcodeproj/
src/provisioning_profile/*.provisionprofile
src/provisioning_profile/*.cer
src/provisioning_profile/*.p12

# macos
.DS_Store
.AppleDouble
.LSOverride
._*

# fastlane
fastlane/.env

# Build artifacts
src/build/
/bazel-*