// Version number (recorded into the Info.plist)
TULSI_VERSION_MAJOR = 0
TULSI_VERSION_MINOR = 2
TULSI_VERSION_FIXLEVEL = 118705379
TULSI_VERSION_BUILDNUMBER = 20160331

TULSI_VERSION_COPYRIGHT = 2015-2016

TULSI_PRODUCT_NAME = $(PROJECT_NAME)

//
// Build things out of the parts.
//
TULSI_VERSIONINFO_SHORT = $(TULSI_VERSION_MAJOR).$(TULSI_VERSION_MINOR).$(TULSI_VERSION_FIXLEVEL)
TULSI_VERSIONINFO_LONG = $(TULSI_VERSIONINFO_SHORT).$(TULSI_VERSION_BUILDNUMBER)

TULSI_VERSIONINFO_FINDER = $(TULSI_PRODUCT_NAME) $(TULSI_VERSIONINFO_LONG), © $(TULSI_VERSION_COPYRIGHT) The Tulsi Authors.
TULSI_VERSIONINFO_ABOUT = © $(TULSI_VERSION_COPYRIGHT) The Tulsi Authors.
