// Code signing hooks for automated build systems.
GOOGLE_VERSION_BUILDNUMBER = 4
GOOGLE_CODE_SIGN_IDENTITY =
GOOGLE_OTHER_CODE_SIGN_FLAGS =
CODE_SIGN_IDENTITY = $(GOOGLE_CODE_SIGN_IDENTITY)
OTHER_CODE_SIGN_FLAGS = $(GOOGLE_OTHER_CODE_SIGN_FLAGS)

// Version number (recorded into the Info.plist)
TULSI_VERSION_MAJOR = 0
TULSI_VERSION_MINOR = $(GOOGLE_VERSION_BUILDNUMBER)
TULSI_VERSION_FIXLEVEL = 159713182
TULSI_VERSION_BUILDNUMBER = 20170621

TULSI_VERSION_COPYRIGHT = 2015-2017

TULSI_PRODUCT_NAME = $(PROJECT_NAME)

//
// Build things out of the parts.
//
TULSI_VERSIONINFO_SHORT = $(TULSI_VERSION_MAJOR).$(TULSI_VERSION_MINOR).$(TULSI_VERSION_FIXLEVEL)
TULSI_VERSIONINFO_LONG = $(TULSI_VERSIONINFO_SHORT).$(TULSI_VERSION_BUILDNUMBER)

TULSI_VERSIONINFO_FINDER = $(TULSI_PRODUCT_NAME) $(TULSI_VERSIONINFO_LONG), © $(TULSI_VERSION_COPYRIGHT) The Tulsi Authors.
TULSI_VERSIONINFO_ABOUT = © $(TULSI_VERSION_COPYRIGHT) The Tulsi Authors.
